{
  "openapi": "3.0.3",
  "info": {
    "title": "Nivo public API",
    "version": "1.0.0",
    "description": "Public API for Nivo: upload requests from URLs, and searching videos within a collection."
  },
  "servers": [
    {
      "url": "https://app.nivo.video/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/upload": {
      "post": {
        "summary": "Create Upload Request",
        "description": "Creates a new upload request to process a media file from a URL. The file will be processed asynchronously.",
        "operationId": "createUploadRequest",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadRequest"
              },
              "examples": {
                "basic_upload": {
                  "summary": "Basic upload request",
                  "value": {
                    "url": "https://example.com/video.mp4",
                    "collection_id": "123e4567-e89b-12d3-a456-426614174000",
                    "title": "Sample Video",
                    "description": "A sample video for processing"
                  }
                },
                "full_upload": {
                  "summary": "Complete upload request with all fields",
                  "value": {
                    "url": "https://example.com/presentation.mp4",
                    "collection_id": "123e4567-e89b-12d3-a456-426614174000",
                    "folder_id": "987fcdeb-51a2-43d7-8f9e-123456789abc",
                    "title": "Company Presentation",
                    "description": "Q4 2024 company presentation video",
                    "tags": ["presentation", "q4", "2024"],
                    "metadata": {
                      "department": "marketing",
                      "quarter": "Q4",
                      "year": "2024"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Upload request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful upload request creation",
                    "value": {
                      "uploadRequestId": "550e8400-e29b-41d4-a716-446655440000"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation failed or file too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "validation_error": {
                    "summary": "Validation failed",
                    "value": {
                      "message": "Validation failed",
                      "errors": {
                        "url": ["Invalid url"],
                        "collection_id": ["Invalid uuid"]
                      }
                    }
                  },
                  "file_too_large": {
                    "summary": "File size exceeds limit",
                    "value": {
                      "message": "Input size is too large."
                    }
                  },
                  "upload_failed": {
                    "summary": "Upload processing failed",
                    "value": {
                      "message": "Failed to upload source video URL."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Missing or invalid API key",
                    "value": {
                      "message": "Unauthorized."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/videos/search": {
      "get": {
        "summary": "Search videos",
        "description": "Search uploads in a collection using optional text (`q`) on the video title (`ILIKE`, so `%` and `_` in `q` are wildcards), optional `folder_id`, and optional tag **slugs** (OR semantics). Requires `collection_id` for the collection to search. Authenticates with the same API key as other v1 routes.",
        "operationId": "searchVideos",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Collection to search within (must belong to the organization for the API key)."
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Case-insensitive substring match on the video title. `%` and `_` act as SQL LIKE wildcards."
          },
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Optional folder UUID. Unknown or out-of-collection folders yield an empty `videos` array (not 404)."
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Repeat `tags=slug` for multiple values, or use a comma-separated list. Tag slugs are scoped to your organization. OR semantics: videos that have any of the listed tags. Empty values are ignored. If every slug is unknown, the response is 400."
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Zero-based page index."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "description": "Page size (1–100)."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["title", "duration", "size_in_bytes"]
            },
            "description": "Optional sort field. When omitted, results are ordered by `created_at` descending."
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "asc"
            },
            "description": "Sort direction when `sort_by` is set. Default `asc`."
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed or unknown tag slug(s)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/UnknownTagSlugsResponse"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Missing or invalid API key",
                    "value": {
                      "message": "Unauthorized."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Collection not found for this API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "collection_not_found": {
                    "summary": "Unknown or other-tenant collection",
                    "value": {
                      "message": "Collection not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication. Include your company's API key in the Authorization header."
      }
    },
    "schemas": {
      "UploadRequest": {
        "type": "object",
        "required": ["url", "collection_id"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the media file to be processed. Must be a valid HTTP/HTTPS URL.",
            "example": "https://example.com/video.mp4"
          },
          "collection_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the collection where the processed file will be stored.",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "folder_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Optional UUID of the folder within the collection.",
            "example": "987fcdeb-51a2-43d7-8f9e-123456789abc"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "Optional title for the upload.",
            "example": "Sample Video Title"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Optional description for the upload.",
            "example": "This is a sample video for processing"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Optional array of tags to categorize the upload.",
            "example": ["video", "presentation", "2024"]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true,
            "description": "Optional key-value pairs for additional metadata.",
            "example": {
              "department": "marketing",
              "project": "Q4-campaign"
            }
          }
        }
      },
      "UploadResponse": {
        "type": "object",
        "required": ["uploadRequestId"],
        "properties": {
          "uploadRequestId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the created upload request.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message describing what went wrong.",
            "example": "Validation failed"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Detailed validation errors by field (only present for validation failures).",
            "example": {
              "url": ["Invalid url"],
              "collection_id": ["Invalid uuid"]
            }
          }
        }
      },
      "UnknownTagSlugsResponse": {
        "type": "object",
        "required": ["message", "invalid_slugs"],
        "properties": {
          "message": {
            "type": "string",
            "example": "Unknown tag slug(s)."
          },
          "invalid_slugs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Slugs that did not match any tag for your organization."
          }
        }
      },
      "VideoSearchAuthor": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "VideoSearchItem": {
        "type": "object",
        "description": "Upload (video) row with snake_case keys as returned by the search API.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "duration": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "storage_key": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "upload_order": {
            "type": "integer",
            "nullable": true
          },
          "folder_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "upload_batch_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "collection_id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "author_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "external_provider_id": {
            "type": "string",
            "nullable": true
          },
          "external_status": {
            "type": "string",
            "nullable": true
          },
          "external_stream_url": {
            "type": "string",
            "nullable": true
          },
          "hls_playlist_url": {
            "type": "string",
            "nullable": true
          },
          "processed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "size_in_bytes": {
            "type": "integer"
          },
          "subtitles_storage_key": {
            "type": "string",
            "nullable": true
          },
          "language": {
            "type": "string"
          },
          "requested_deletion_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "transcription_regeneration_status": {
            "type": "string"
          },
          "transcription_regeneration_error": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "author": {
            "$ref": "#/components/schemas/VideoSearchAuthor"
          }
        }
      },
      "VideoSearchResponse": {
        "type": "object",
        "required": ["videos", "page_count", "amount_of_uploads"],
        "properties": {
          "videos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VideoSearchItem"
            }
          },
          "page_count": {
            "type": "integer",
            "description": "Total pages for the current page_size."
          },
          "amount_of_uploads": {
            "type": "integer",
            "description": "Total number of matching videos (distinct uploads)."
          }
        }
      }
    }
  }
}
